DirectoryIndex index.html
AddDefaultCharset UTF-8

<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
    AddType image/png .png
    AddType image/jpeg .jpg .jpeg
    AddType image/webp .webp
    AddType image/svg+xml .svg
    AddType font/woff .woff
    AddType font/woff2 .woff2
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(html|php)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
    </FilesMatch>
</IfModule>
